@charset "utf-8";

.news-fv-wrapper{
    background-image: url(../images/fv-news-bg.jpg);
}
.news-fv-wrapper .fv-container img {
    padding: 65px 0;
}
.news-contents-wrapper{
    max-width: 875px;
    margin: 100px auto 125px;
}
.news-contents-container dl{
    border-bottom: 1px #333 dashed;
}
.news-contents-container dl,
.news-date,
.news-title,
.news-contents{
    margin-bottom: 25px;
    font-weight: 500;
}
.news-date{
    color: #C7AF06;
    font-size: 0.875em;
}
.news-title{
    font-size: 1.1875em;
    font-weight: normal;
}
.news-contents{
    font-size: 0.875em;
    line-height: 1.875em;
}